*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/workspace.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/shelf/
/.idea/gradle.xml

.DS_Store
/build
/captures
